.transportation-wrapper {
  padding: 100px 0px;
  flex-direction: column;
}

.kinds-wrapper {
  margin-top: 50px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.second-row {
  display: flex;
  justify-content: center;
}

.second-row .kind {
  margin-left: 10%;
  margin-right: 10%;
}

.kind {
  width: 20%;
  flex-direction: column;
  text-align: center;
}

.img-wrapper {
  width: 100%;
  height: 80%;
}

.img-wrapper > img {
  width: 100%;
}

.kind > h3 {
  font-size: 21px;
  color: #1a2845;
  padding: 10px 0px;
}

.kind > span {
  font-size: 14px;
  color: #1a2845;
}
