.how-it-works-wrapper {
  padding: 100px 0px;
}

.steps-wrapper-desktop {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

.steps-wrapper-desktop > div {
  text-align: center;
}

.steps-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .steps-wrapper-desktop {
    display: none;
  }

  .steps-wrapper-mobile {
    margin-top: 50px;
    display: block;
  }

  .steps-wrapper-mobile > div {
    margin-top: 10px;
    text-align: center;
  }
}
