.border-gradient {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #df5950, #451046);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient */
.part-button {
  padding: 2px;
  width: 220px;
  height: 43px;
  border-radius: 25px;
  /* display: flex; */
  text-align: center;
  border: none;
  cursor: pointer;
}

.part-button > span {
  background: #df5950;
  background: -webkit-linear-gradient(to right, #df5950 0%, #451046 100%);
  background: -moz-linear-gradient(to right, #df5950 0%, #451046 100%);
  background: linear-gradient(to right, #df5950 0%, #451046 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 15px;
}
