.content {
  margin-left: 10%;
  width: 80%;
}

.content > header {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.content > header > h3 {
  background: #df5950;
  background: -webkit-linear-gradient(to right, #df5950 0%, #451046 100%);
  background: -moz-linear-gradient(to right, #df5950 0%, #451046 100%);
  background: linear-gradient(to right, #df5950 0%, #451046 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content > header > ul > li {
  display: inline;
  margin-right: 2rem;
  cursor: pointer;
}

.content > header > ul > li > a {
  color: black;
}

.content > header > ul > li:hover > a {
  color: gray;
}

.content > header.mobile-header {
  display: none;
}

@media screen and (max-width: 1000px) {
  .content > header.mobile-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .content > header.desktop-header {
    display: none;
  }

  .content {
    width: 95%;
    margin-left: 2.5%;
  }

  .part-title {
    font-size: 30px;
  }
}
